.btn {
    cursor: pointer;
    padding: 1rem 2rem;
    border: 0.125rem solid #1C1C1C;
    border-radius: 5rem;
    color: var(--color-primary);
    background: unset;
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s all ease;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn--services,
.btn--aboutme,
.btn--contact,
.btn--slide {
    border-color: var(--color-primary);
    background-color: none;
    color: #1C1C1C;
}

.btn--aboutme:hover,
.btn--contact:hover,
.btn--services:hover {
    color: var(--color-copy);
    border-color: var(--color-primary);
    background: unset;
    box-shadow: 0 1rem 1rem #1C1C1C;
}

.btn--contact:hover,
.btn--services:hover {
    color: #1C1C1C;
}

.btn--slide {
    position: center;
}

.btn--blog {
    color: var(--color-copy);
    border-color: var(--color-copy);
    background: unset;
    margin-top: 3rem;
}