.slide {
    margin-top: 6rem;
    position: relative;
    height: 90vh;
}

.slide__background-image {
    opacity: 70%;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    object-fit: cover;
    object-position: center;
}

.slide__copy {
   position: absolute;
   text-align: center;
   top: 6rem;
   left: 20vw;
   font-weight: 600;
   
}

.slide__copy h5 {
    font-size: 2.5rem;
    text-transform: uppercase;
    
}

.slide__copy h2 {
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 1rem;
}

.slide__copy h6 {
    font-size: 1rem;
    text-transform: uppercase;
    
}

#services {
    background-color: #FFE4E1;
    color: #1C1C1C;
    text-transform: uppercase;
}

.services__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    place-items: center;
    line-height: 4rem;
    text-align: center;
}

.services__container h3 {
    font-size: 2.1875rem;
}

.services__container h3 small {
    display: block;
    font-size: 0.667rem;
}

.aboutme {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3.125rem;
    align-items: center;
    padding: 4.375rem;
}

.aboutme__image {
    max-width: 550px;
}

.aboutme__copy {
    padding: 0 1.875rem;
}

.aboutme__copy h6 {
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 0;
}

.aboutme__copy h4 {
    font-size: 1.5625rem;
    margin-top: 1rem;
}

.aboutme p {
    font-family: "Roboto", sans-serif;
    font-size: 1.0625rem;
    line-height: 1.6875rem;
    margin-bottom: 0;
    margin-bottom: 2.5rem;
}

.blog {
    background-image: url(../Images/blog.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
}

.blog__container {
    display: grid;
    align-items: end;
    justify-items: end;
    min-width: none;
    min-height: 60vh;
}

.blog__copy {
    background-color: #ffff;
    padding: 2.625rem 2.375rem;
    
}

.blog__copy h6 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1875rem;
    text-align: left;
    line-height: 1.4375rem;
    width: 43ch;
    text-transform: uppercase;
    margin: 0;
}

.blog__copy h2 {
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    letter-spacing: -0.1875rem;
    margin: 1.875rem 0;
}

.blog__copy h2 span {
    display: block;
}
